<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>XOX</title>
	</head>
	<body>
		<div class="login" id="loginPage">
			<input type="text" id="room-id" placeholder="Please enter the room name " />
			<div class="buttons">
				<button id="join-room">Join</button>
				<button id="create-room">Create</button>
			</div>
			<p id="message"></p>
		</div>
		<div class="container">
			<h1>XoXoXoX</h1>
			<div class="board" id="board">
				<div class="cell 0"></div>
				<div class="cell 1"></div>
				<div class="cell 2"></div>
				<div class="cell 3"></div>
				<div class="cell 4"></div>
				<div class="cell 5"></div>
				<div class="cell 6"></div>
				<div class="cell 7"></div>
				<div class="cell 8"></div>
			</div>
		</div>
		<div class="restart" id="restartPage">
			<p id="winner"></p>
			<button id="restartBtn">Play Again</button>
		</div>
	</body>
	<script
		src="https://cdn.socket.io/4.4.1/socket.io.min.js"
		integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
		crossorigin="anonymous"
	></script>
	<script src="/script.js"></script>
</html>
